body{
    line-height: 1.5;
    margin-top: 50px;
    font-size: 20px;
    background-image: url("../images/trees.png");
}
.container{
    text-align: center;
    width: 500px;
    height: 500px;
    margin: auto;
}
.game{
    padding: 15px;
}
p{
    display: none;
}
.option{
    margin: 15px;
    border-color: red;
}
.title{
    margin-top: 175px;
    padding: 25px;
    text-shadow: 3px 2px 1px #9daef5; 
    font-family: 'Kavoon', cursive; 
    font-size: 50px;  
}
#results{
    background-color: ivory;
    border: 3px;
    border-style: solid;
    border-color: #61045f;

}
.game{
    background-color: ivory;
    border: 3px;
    border-style: solid;
    border-color: #61045f;

}
button{
    background-color: #EB3349;  /* fallback for old browsers */
    background: linear-gradient(to bottom, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-shadow: 3px 2px 1px #9daef5;  
    box-shadow: 6px 5px 24px #666666;
    border-radius: 28px;
    font-family: Arial;  
    color: #fafafa;  
    font-size: 27px;  
    padding: 10px;  
    padding-left: 25px;
    padding-right: 25px;
    margin: 15px;
    text-decoration: none;
}
button:hover {
    background-color: rgb(186, 6, 0);
    background: linear-gradient(to right, #DD2476, rgba(255, 123, 47, 0.575)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition-duration: 0.4s;
}

